{% extends "base.html" %}

{% block title %}
Add Item
{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="cell medium-8 medium-offset-2">
            <h1>Add Item</h1>
            <form method="post" class="callout">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-actions">
                    <button type="submit" class="button">Add Item</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
